<!doctype html>
<html lang="nl" class="no-js"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Oplossingen voor Pensioen, Hypotheek, Verzekeringen, Sparen en...</title>
    <meta name="description" content="Op onze website vindt u informatie over sparen, beleggen, verzekeren, hypotheek en pensioen. Bereken uw premie of maak een afspraak voor persoonlijk advies."/>
    <meta name="keywords" content="Pensioen, Hypotheek, Verzekeringen, Sparen, Beleggen"/>
    <link rel="stylesheet" type="text/css" href="../static-lib/css/screen-1.2.4.css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="../static-lib/css/screen-ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="../static-lib/css/screen-ie7-1.0.5.css" media="screen" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="../static-lib/css/screen-ie8-1.0.2.css" media="screen" /><![endif]-->
    <!--[if !lte IE 8]><!--><link rel="stylesheet" type="text/css" href="../static-lib/css/screen-responsive-1.0.3.css" media="screen" /><!--<![endif]-->

    <link rel="stylesheet" type="text/css" href="../static-lib/css/print.css" media="print" />
    <script>document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'') + ' js';</script>
    <script>var AEGON = {};//Reserve AEGON namespace object</script>
    <!--[if IE 6]><script type="text/javascript">AEGON.IE6 = true;</script><![endif]-->
    <script type="text/javascript" src="../static-lib/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="../static-lib/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="../static-lib/js/ios-orientationchange-fix.js"></script>
    <script type="text/javascript" src="../static-lib/js/detectmobilebrowser.js"></script>
	<!-- rrs header links -->
	<link rel="alternate" title="AEGON.nl Actueel" type="application/rss+xml" href="" />
	<link rel="alternate" title="AEGON.nl Rechtstreeks beleggen" type="application/rss+xml" href="" />
	<link rel="alternate" title="AEGON.nl Verzekeringsfondsen" type="application/rss+xml" href="" />
	<link rel="alternate" title="AEGON.nl Mijn fondsen" type="application/rss+xml" href="" />
	<link rel="alternate" title="AEGON.nl Corporate blog" type="application/rss+xml" href="" /></head>
	<body class="detail">
		<!-- Component: upgrade browser -->

		<!--[if IE 6]>
			<div class="upgrade-browser">
				<div class="wrapper">
					<strong class="generic-message">Helaas wordt Internet Explorer 6 niet meer volledig ondersteund op onze website. Wij raden u aan gebruik te maken van een modernere versie van <a href="http://www.microsoft.com/ie">Internet Explorer</a>, of over te schakelen naar een andere browser zoals <a href="http://www.mozilla.com/nl">Firefox</a>, <a href="http://www.apple.com/safari">Safari</a>, <a href="http://www.google.com/chrome">Chrome</a> of <a href="http://www.opera.com/">Opera</a>.</strong>
				</div>
			</div>
		<![endif]-->

		<!-- End Component: upgrade browser -->
		
		<!-- Component: header -->
		<header>
			<div id="header">
				<div class="wrapper">
					<h1 class="logo"><span>AEGON</span><img src="../media/aegon-logo-header.gif" alt="AEGON logo" /></h1>
					<ul class="navigation-portals">
						<li><strong><A title="" href="">Particulier</A></strong></li>
						<li><A title="" href="">Zakelijk</A></li>
					</ul>
					<div class="login-search-wrapper">
						<form class="quick-search" name="searchBox" action="" method="">
								<input type="hidden" name="view" value="Search results"/>
								<input type="text" class="ie-attr-text" name="zoekterm" id="zoek"/>
								<span class="btn"><input type="submit" value="Zoek" class="ie-attr-submit"/></span>
						</form>
						<a href="" class="login"><strong>Inloggen</strong></a>
					</div>
					<div class="nav-additional-wrapper">
						<ul class="navigation-additional">
							<li class="first-child"><A title="" href="">Over AEGON</A></li>
							<li><A title="Intermediair" href="">Intermediair</A></li>
							<li><A title="Vacatures" href="">Vacatures</A></li>
							<li><A title="Sitemap" href="">Sitemap</A></li>
							<li><A title="Contact" href="">Contact</A></li>
						</ul>
						<ul class="navigation-socialmedia">
							<li class="facebook"><a href="https://www.facebook.com/AEGON.NL" title="AEGON op Facebook">Facebook</a></li>
							<li class="twitter"><a href="http://twitter.com/#!/AEGON_NL" title="AEGON op Twitter">Twitter</a></li>
							<li class="youtube"><a href="http://www.youtube.com/aegonnederland" title="AEGON op YouTube">YouTube</a></li>
							<li class="rss"><a href="http://www.aegon.nl/algemeen/rss/rss/" title="RSS feeds van AEGON">RSS</a></li>
						</ul>
					</div>
					<nav>
						<div class="dropdown-navigation" style="">
							<ul class="navigation">
								<li class="active" style=""><a href="#">Home</a></li>
								<li style=""><a href="">Sparen</a>
								<li style=""><a href="">Beleggen</a>
								<li style=""><a href="">Verzekeren</a>
								<li style=""><a href="">Hypotheek</a>
								<li style=""><a href="">Pensioen</a>
								<li style=""><a href="">Klantenservice</a>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<!-- End Component: header -->
		<div id="content">
			<div class="wrapper addprint">
				<h1>Welkom terug Jan</h1>
				<div class="header">
					<div class="main">
						<!-- Component: visual -->
						<a href="" title="">
							<img src="../media/e-rekening.jpg" alt="AEGON E-Rekening: 2,40% rente zonder verplichtingen" class="visual"/>
						</a>
						<!-- End Component: visual -->
					</div>
					<div class="service">
						<!-- Component: contact menu -->
						<ul class="service-menu">
							<li class="phone"><a href="" >Bel met AEGON</a></li>
							<li class="mail"><a href="" >E-mail sturen</a></li>
							<li class="questions">Chat (even geduld)</li>
						</ul>
						<!-- End Component: contact menu -->
						
					</div>
				</div>
				<div class="grid">
					<div class="grid-item open-content">
								<h2 class="ontop">Lorem Ipsum</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis rutrum nunc eu placerat. Phasellus rhoncus, nibh vitae faucibus elementum, dui odio tincidunt diam, eu hendrerit felis tortor in elit. <a title="" href="" class="external">Aliquam</a> scelerisque, erat at vehicula luctus, tortor augue dapibus lectus, sit amet feugiat nulla nunc ac purus. Proin gravida sollicitudin porta.</p>
					</div>
					<div class="grid-items">
						<div class="span1of2">
							<!-- Component: auto quick quote -->
							<script type="text/javascript" src="../static-lib/js/AEGON.QuickQuoteAuto.js"></script>
							<form class="box-verticalsplit box-quickquote qq-auto" action="auto.html">
								<div class="inner">
									<h2 class="ontop-focus"><span>Autoverzekering berekenen</span></h2>
									<div class="top">
										<img src="../media/qq-auto.gif" alt="Autoverzekering" class="left">
										<p>Bereken hier uw maandpremie</p>
										<div class="focus">
											<h3><label for="licenceplate-nl">Vul uw kenteken in</label></h3>
											<input type="text" class="licenceplate-nl">
										</div>							
									</div>
									<div class="bottom">
										<span class="button-calculate">
											<input id="qqauto" type="submit" value="Direct berekenen">
										</span>
									</div>
								</div>
								<input type="hidden" id="prod" name="prod" value="car">
								<input type="hidden" id="logo" name="logo" value="0">
								<input type="hidden" id="tp" name="tp" value="916932">
								<input type="hidden" id="urlParam" name="urlParam" value="true">
							</form>
							<!-- End component: auto quick quote -->
						</div>
						<div class="span1of2">
							<!-- Component: column text block -->
							<div class="grid-item open-content">
								<h2 class="ontop">Lorem Ipsum</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis rutrum nunc eu placerat. Phasellus rhoncus, nibh vitae faucibus elementum, dui odio tincidunt diam, eu hendrerit felis tortor in elit. <a title="" href="" class="external">Aliquam</a> scelerisque, erat at vehicula luctus, tortor augue dapibus lectus, sit amet feugiat nulla nunc ac purus. Proin gravida sollicitudin porta.</p>
							</div>
							<!-- End Component: column text block -->
						</div>
					</div>
				</div>
				<div class="sidebar">
					<!-- Component: profile-box -->
					<div class="profile-box box-blank">
						<div class="inner">
							<h2 class="ontop-focus"><span>Uw profiel</span></h2>
							<a href="#" class="user-action user-action-edit">Wijzigen</a>
							<p>
								<strong>Jan Schellekes</strong><br/>
								jschellekes@hotmail.com<br/>
								tel. 123 - 456 789
							</p>

							<div class="progress-bar">
								<div class="box-default">
									<div class="inner">

										<div class="progress-wrapper">
											<div class="progress">
												<div class="bar" style="width:80%"></div>
											</div>
											<p class="percentage">80%</p>
										</div>

										<h3>Maak uw profiel compleet</h3>

										<ul class="links">
											<li><a href="#">Lorem ipsum</a></li>
											<li><a href="#">Dolor sit amet</a></li>
											<li><a href="#">Consectetur adipiscing elit</a></li>
										</ul>

									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- End Component: profile-box -->
				</div>
			</div>
		</div>
		<!-- Component: footer -->
		<footer>
			<div id="footer">
				<div class="wrapper">
					<div>
						<div class="quick-links">
							<H2><A title="Klik hier voor de rekentools" href="">Berekenen</A></H2>
							<UL>
								<LI><A title="Uw maximale hypotheek berekenen" href="">Maximale hypotheek</A></LI>
								<LI><A title="Lijfrente berekenen" href="">Lijfrente berekenen</A></LI>
								<LI><A title="Aansprakelijkheidsverzekering afsluiten" href="">Premie aansprakelijkheidsverzekering</A></LI>
								<LI><A title="Inboedelverzekering afsluiten" href="">Premie inboedelverzekering</A></LI>
								<LI><A title="Reisverzekering afsluiten" href="">Premie reisverzekering</A></LI>
								<LI><A title="Rechtsbijstandsverzekering afsluiten" href="">Premie rechtsbijstandsverzekering</A></LI>
								<LI><A title="Opstalverzekering afsluiten" href="">Premie opstalverzekering</A></LI>
								<LI><A title="Woon- en Vrijetijdspakket" href="">Premie Woon- en Vrijetijdpakket</A></LI>
							</UL>
						</div>
						<div class="quick-links">
							<H2><A title="Klik hier voor de rekentools" href="">Berekenen</A></H2>
							<UL>
								<LI><A title="Uw maximale hypotheek berekenen" href="">Maximale hypotheek</A></LI>
								<LI><A title="Lijfrente berekenen" href="">Lijfrente berekenen</A></LI>
								<LI><A title="Aansprakelijkheidsverzekering afsluiten" href="">Premie aansprakelijkheidsverzekering</A></LI>
								<LI><A title="Inboedelverzekering afsluiten" href="">Premie inboedelverzekering</A></LI>
								<LI><A title="Reisverzekering afsluiten" href="">Premie reisverzekering</A></LI>
								<LI><A title="Rechtsbijstandsverzekering afsluiten" href="">Premie rechtsbijstandsverzekering</A></LI>
								<LI><A title="Opstalverzekering afsluiten" href="">Premie opstalverzekering</A></LI>
								<LI><A title="Woon- en Vrijetijdspakket" href="">Premie Woon- en Vrijetijdpakket</A></LI>
							</UL>
						</div>
						<div class="quick-links">
							<H2><A title="Klik hier voor de rekentools" href="">Berekenen</A></H2>
							<UL>
								<LI><A title="Uw maximale hypotheek berekenen" href="">Maximale hypotheek</A></LI>
								<LI><A title="Lijfrente berekenen" href="">Lijfrente berekenen</A></LI>
								<LI><A title="Aansprakelijkheidsverzekering afsluiten" href="">Premie aansprakelijkheidsverzekering</A></LI>
								<LI><A title="Inboedelverzekering afsluiten" href="">Premie inboedelverzekering</A></LI>
								<LI><A title="Reisverzekering afsluiten" href="">Premie reisverzekering</A></LI>
								<LI><A title="Rechtsbijstandsverzekering afsluiten" href="">Premie rechtsbijstandsverzekering</A></LI>
								<LI><A title="Opstalverzekering afsluiten" href="">Premie opstalverzekering</A></LI>
								<LI><A title="Woon- en Vrijetijdspakket" href="">Premie Woon- en Vrijetijdpakket</A></LI>
							</UL>
						</div>
						<div class="quick-links">
							<H2><A title="Klik hier voor de rekentools" href="">Berekenen</A></H2>
							<UL>
								<LI><A title="Uw maximale hypotheek berekenen" href="">Maximale hypotheek</A></LI>
								<LI><A title="Lijfrente berekenen" href="">Lijfrente berekenen</A></LI>
								<LI><A title="Aansprakelijkheidsverzekering afsluiten" href="">Premie aansprakelijkheidsverzekering</A></LI>
								<LI><A title="Inboedelverzekering afsluiten" href="">Premie inboedelverzekering</A></LI>
								<LI><A title="Reisverzekering afsluiten" href="">Premie reisverzekering</A></LI>
								<LI><A title="Rechtsbijstandsverzekering afsluiten" href="">Premie rechtsbijstandsverzekering</A></LI>
								<LI><A title="Opstalverzekering afsluiten" href="">Premie opstalverzekering</A></LI>
								<LI><A title="Woon- en Vrijetijdspakket" href="">Premie Woon- en Vrijetijdpakket</A></LI>
							</UL>
						</div>
					</div>
					<div class="footer">
						<ul class="navigation-additional">
							<li class="first-child"><strong><A title="" href="http://test2.intra.aegon.nl/particulier/">Particulier</A></strong></li>
							<li><A title="" href="">Zakelijk</A></li>
							<li><A title="" href="">Intermediair</A></li>
							<li><A title="" href="">Over AEGON</A></li>
						</ul>
						<ul class="navigation-additional alt">
							<li class="first-child">&copy; 2012 AEGON 
							<li><A title="" href="">Disclaimer</A> 
							<li><A title="" href="">Privacy</A></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Component: footer -->
		<script type="text/javascript" src="../static-lib/js/jquery.history.js"></script>
		<script type="text/javascript" src="../static-lib/js/jquery.Storage.js"></script>
		<script type="text/javascript" src="../static-lib/js/swfobject.js"></script>
		<script type="text/javascript" src="../static-lib/js/swipe.js"></script>
		<script type="text/javascript" src="../static-lib/js/AEGON-1.1.1.js"></script>
	</body>
</html>